body {
	width: 100%;
	margin:auto;
	background: #676800 
}

.Logo{
	background: #878809;  
	font-family: arial;
	color: #000;
	width : 80%;
	padding: 30px;
	margin-left: 10%;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	
}

.pts{
	width: 25px;
	height: 25px;
	background-color: yellow;
	border-radius: 100%;
	position: relative;
	left: 58%;
	bottom: 44px;
	animation-name: sayna;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

	@keyframes sayna{
	0%   {background-color:white; }
  25%  {background-color:yellow; }
  50%  {background-color:white; }
 /* 75%  {background-color:green; }
  100% {background-color:#878809; }*/

	}


.but{
	letter-spacing: 5px;

	text-decoration: none;
	color:  #1d270b  ;
	font-weight: bold;
	font-size: 30px;
	background:    #c4f372   ;
	padding: 20px;
	border-radius: 45px;

	/*transition: all 2s*/ 
}
.but:hover{
	/*text-decoration: underline;*/
	background: white;
	border-color: #333;
	transform: rotate(1280deg);
	border-radius: 100%;

}

header ul {
	float: right;
	width:100%;
	padding: 30px;
	background: #878809;
	font-family: sofia;
	text-align: center;
}

header ul li:first-child{
	margin-left: 230px;
}

header ul li{
	display: inline-block;
	margin-left: 70px;
}

.corp{
	background: white;
	width:80%;
	margin-left: 12%;
	margin-top: 7%;
}

.corp ul li{
display: inline-block;
background: #878809;
margin-left: 10%;
margin-right: 3%;.
/*float: left;*/
width: 30%;
color:white;
padding: 5%;
padding-top: 7%;
padding-bottom: 7%;
font-size: 30px;
margin-top: 1%;
border-radius: 9%;

	transition: all 2s; /* temps de changement quand la souris passe  */

}

.corp ul li:hover{
	background-color: black;

	border-color: #333;
	transform: rotate(1080deg);
	border-radius: 50%;
}

hr{	/*hr en pointillé*/ 
margin-left: 135px;
margin-bottom: 50px;
margin-top: 30px;
border-top:4px dotted black;
width: 80%;
}


h1{
	padding-top:  3%;
	font-family: sofia ;
	text-align: center;
	color:  #1d270b;
	font-size: 50px;
}

h2{
	margin-left: 7%;
	font-family: sofia ;
	color:  #1d270b;
	font-size: 40px;
}

p{
	margin-left : 105px;
	font-size: 30px;
}

